@model MyPortfolio.Models.Skills
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Yetenek Ekleme Sayfası</h2>
<br />

<form method="post">
    @Html.Label("Yetenek Adı")
    <input type="text" name="Name" class="form-control" />
    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yüzde (%)")
    <input type="text" name="Amount" class="form-control" />
    @Html.ValidationMessageFor(x => x.Amount, "", new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-outline-success" value="Ekle" />
</form>





