@using MyPortfolio.Models
@model Abouts
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hakkımda ekleme sayfası</h2>
<br />
<form method="post" enctype="multipart/form-data">
    <label>Görsel</label>
    <input type="file" name="ImageURL" class="form-control" />
    @Html.ValidationMessageFor(x => x.ImageURL, "", new { @class = "text-danger" })
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-outline-success" value="Ekle" />
</form>