@model List<MyPortfolio.Models.Services>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<br />
<h2>Hizmetlerim Listesi</h2> <br />

<a href="/Services/AddService/" class="btn btn-outline-dark">Yeni Hizmet Ekle</a>
<br /><br />
<table class="table table-hover">
    <tr>
        <td>#</td>
        <td>İkon</td>
        <td>Başlık</td>
        <td>Açıklama</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Icon</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Services/DeleteService/@item.ServicesID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Services/UpdateService/@item.ServicesID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
