@model List<MyPortfolio.Models.Abouts>
@foreach (var item in Model)
{
    <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12">

                    <div class="about-content">

                        <div class="section-header text-left">
                            <p>Hakkımda</p>
                            <h2>@item.Title</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                @item.Description
                            </p>
                        </div>

                        @Html.Action("DefaultSkillsPartial")
                    </div>
            

                </div>
            </div>
        </div>
    </div>
}